<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="${targetPackage}.${table.getFirstLetterUpperName()}${nameSuffix}">
	<resultMap id="${table.camelName}" type="com.ljt.dcms.maint.business.model.MtPara">
	<#list table.fields as field>
		<result property="${field.camelName}" column="${field.name}" />
	</#list>
	</resultMap>
	
	<sql id="columns">
	    <![CDATA[
		<#list table.fields as field><#if field_index == 0> ${field.name}</#if><#if field_index !== 0>, ${field.name}</#if></#list>
	    ]]>
	</sql>
	
	<sql id="update_sql">
		<set>
		<#list table.fields as field>
			<if test="${field.camelName} != null and ${field.camelName} != ''">
				${field.name} = #{${field.camelName}}<#if field_index !== fields?size - 1>,</#if>
			</if>
		</#list>
		</set>
	</sql>

	<select id="getById" resultMap="${table.camelName}">
		SELECT
		<include refid="columns" />
	    <![CDATA[
		    FROM ${table.name} 
	        WHERE 
		        CD = #{id} 
	    ]]>
	</select>
	
	<sql id="condition">
		<where>
		<#list table.fields as field>
			<if test="${field.camelName} != null and ${field.camelName} != ''">
				AND ${field.name} = #{${field.camelName}}
			</if>
			<#if field.camelName?ends_with("Time")>
			<if test="${field.camelName}Begin != null and ${field.camelName}Begin != ''">
				AND ${field.name} &gt;= #{${field.camelName}Begin}
			</if>
			<if test="${field.camelName}End != null and ${field.camelName}End != ''">
				AND ${field.name} &lt;= #{${field.camelName}End}
			</if>	
			</#if>
		</#list>
		</where>
	</sql>
	
	<select id="findByCondition" resultMap="${table.camelName}">
		SELECT
		<include refid="columns" />
		FROM ${table.name}
		<include refid="condition" />
	</select>
	
	<update id="updateByPrimaryKey">
		update ${table.name}
		<include refid="update_sql" />
		where cd = #{id}
	</update>
	
	<delete id="deleteByPrimaryKey">
		delete
		from ${table.name}
		where cd = #{id}
	</delete>
	
</mapper>

